{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags %}


<div class="content-background-colour content-container form-container">
    {% if edit %}
        <h2>Edit This Journal Entry</h2>
    {% else %}
        <h2>Add a Journal Entry</h2>
    {% endif %}
    <div class="formDiv flex-column justify-content-around align-items-center">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ trip_day_form | crispy }}
            <div class="text-center">
                <input type="submit" value={% if edit %}
                "Update"
                {% else %}
                "Create"
                {% endif %}>
            </div>
        </form>
        {% if edit %}
        <!-- Delete functionality -->
        <button class="btn btn-delete" id="btn-delete"><strong>Delete Journal Entry</strong></button>
    </div>
    <!-- Delete confirmation modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1"
        aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title"
                    id="deleteModalLabel">Delete journal entry?</h5>
                <button type="button" class="btn-close"
                    data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                Are you sure you want to delete your journal entry?
                This action cannot be undone.
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                    data-bs-dismiss="modal">Close</button>
                <a id="deleteConfirm" href="{% url 'delete_trip_day' trip_day.trip.pk trip_day.pk %}" class="btn
                    btn-danger">Delete</a>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock content %}


{% block scripts %}
<!-- Script for comment edit/delete functionality -->
<script src="{% static 'js/deleteconfirm.js' %}"></script>
{% endblock scripts%}

{% block copyright %}
Copyright 
<br> James Bridgwater Court 2024
<br> <a href="https://github.com/alphabetjim">
    <i class="fa-brands fa-github"></i>
</a>
{% endblock %}