{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

{% url 'delete_traveller' as delete_traveller_url %}

<div class="content-background-colour content-container form-container">
    <h2>Edit your Profile:</h2>
    <div class="formDiv flex-column justify-content-around align-items-center">
        <p>Profile for {{ user.username }}</p>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="text-center">
                <input type="submit" value="Submit">
            </div>
        </form>
        <!-- Delete functionality -->
        <button class="btn btn-delete" id="btn-delete"><strong>Delete Profile</strong></button>
    </div>
</div>
<!-- Delete confirmation modal -->
<div class="modal fade" id="deleteModal" tabindex="-1"
    aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title"
                id="deleteModalLabel">Delete profile?</h5>
            <button type="button" class="btn-close"
                data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            Are you sure you want to delete your profile?
            This action cannot be undone.
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary"
                data-bs-dismiss="modal">Close</button>
            <a id="deleteConfirm" href="{% url 'delete_traveller' %}" class="btn
                btn-danger">Delete</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<!-- Script for comment edit/delete functionality -->
<script src="{% static 'js/deleteconfirm.js' %}"></script>
{% endblock scripts%}